/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        homerow_mods: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

        layercombo: layercombo {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYERCOMBO";
            bindings = <&to>, <&sl>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };
    };

    combos {
        compatible = "zmk,combos";

        equalscombo {
            bindings = <&kp EQUAL>;
            key-positions = <22 23>;
            layers = <0 1 2>;
        };

        minuscombo {
            bindings = <&kp MINUS>;
            key-positions = <10 11>;
            layers = <0 1 2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q                         &kp W                     &kp E                         &kp R                       &kp T    &kp Y  &kp U                        &kp I                      &kp O                      &kp P                             &kp LEFT_BRACKET
&kp GRAVE  &homerow_mods LEFT_CONTROL A  &homerow_mods LEFT_ALT S  &homerow_mods LEFT_COMMAND D  &homerow_mods LEFT_SHIFT F  &kp G    &kp H  &homerow_mods RIGHT_SHIFT J  &homerow_mods RIGHT_GUI K  &homerow_mods RIGHT_ALT L  &homerow_mods RIGHT_CONTROL SEMI  &kp SQT
&trans     &kp Z                         &kp X                     &kp C                         &kp V                       &kp B    &kp N  &kp M                        &kp COMMA                  &kp DOT                    &kp FSLH                          &kp ESC
                                                                   &kp DELETE                    &kp SPACE                   &mo 1    &sl 1  &kp ENTER                    &kp BACKSPACE
            >;
        };

        symbol {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB  &kp EXCL          &kp AT        &kp HASH       &kp DLLR        &kp PRCNT    &kp CARET  &kp AMPS  &kp ASTRK  &kp LPAR          &kp RPAR           &kp MINUS
&trans   &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_META  &kp LEFT_SHIFT  &trans       &trans     &trans    &trans     &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSLASH
&trans   &trans            &trans        &trans         &trans          &trans       &trans     &trans    &trans     &trans            &trans             &trans
                                         &trans         &trans          &to 0        &to 2      &trans    &trans
            >;
        };

        number {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB  &kp N1            &kp N2        &kp N3            &kp N4          &kp N5    &kp N6    &kp N7    &kp N8  &kp N9     &kp N0   &kp MINUS
&trans   &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_COMMAND  &kp LEFT_SHIFT  &trans    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &none    &kp EQUAL
&kp F1   &kp F2            &kp F3        &kp F4            &kp F5          &kp F6    &kp F7    &kp F8    &kp F9  &kp F10    &kp F11  &kp F12
                                         &trans            &kp GLOBE       &to 0     &to 3     &trans    &trans
            >;
        };

        setup {
            bindings = <
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none  &none  &none  &none  &none  &none
&none  &none         &none         &none         &none         &none           &none  &none  &none  &none  &none  &none
&none  &none         &none         &bt BT_CLR    &none         &none           &none  &none  &none  &none  &none  &none
                                   &none         &none         &to 0           &none  &none  &none
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
